*{margin:0;padding:0;box-sizing:border-box}html,body,#container{height:100%;width:100%}#bannercont{background:black;position:absolute;top:50px;width:100%;padding:10px}.banner{color:white;position:relative;width:100%;margin:0 auto;text-align:center}



.ribbon-holder{

	position: absolute;
	top: 0;
	height: 12em;
	overflow: hidden;

	z-index: 999;

}

.right.ribbon-holder{

	right: 0;

}

.ribbon, .ribbon:hover{

	text-decoration: none;

}

.ribbon{

	letter-spacing: -.1px;
	opacity: 0.95;

	padding: 0.25em 0;
	position: relative;
	top: 2.5em;

	-webkit-box-shadow: 0 0 13px #888;
	color: #FFF;
	display: block;
	line-height: 1.35em;

}

.ribbon .text{

	padding: 0.1em 3em;

}

.right .ribbon{

	-webkit-transform: rotate(45deg);
	right: -3.2em;

}

.red.ribbon{

	/*background: #9A0000;*/
	background: -webkit-linear-gradient(top, #9A0000, #A90000);

	color: white;

}

.red.ribbon .text{

	border: 1px solid #bf6060;

}